body {
    margin: 0;
    margin-top: 70px;
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    white-space: nowrap;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    padding: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu-btn:hover {
    background: rgba(255, 255, 255, 0.15);
}

.menu-btn .bar {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 22px;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    overflow: hidden;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

.menu a:hover {
    background-color: #555;
}

.menu a:last-child {
    border-bottom: none;
}

.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: relative;
    background-color: #444;
    margin-left: 0px;
    /*border: 1px solid #555;*/
}

.submenu a {
    padding: 10px 20px;
    border-bottom: 1px solid #ffffff;
}

.dropdown.open .submenu {
    display: block;
}

@media screen and (max-width: 768px) {
    .navbar .title {
        font-size: 18px; /* Riduci la dimensione del titolo */
        max-width: 70%; /* Limita la larghezza del titolo */
    }
    .menu {
        width: 80%; /* Fai occupare più spazio al menu */
        right: 10%; /* Centrato rispetto allo schermo */
    }
    .menu-btn {
        width: 25px; /* Riduci la dimensione del bottone */
        height: 18px;
    }
    .menu-btn .bar {
        height: 1px; /* Barre più sottili */
    }
}
